<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>MVC With Burgers!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
	</head>
    <body>

    <iframe src="https://giphy.com/embed/I0zXHwh1T8Cl2" width="280" height="280" frameBorder="0"></iframe>

        {{{ body }}}

    </body>
	</html>